<html>
<head>
<title>Mailroom</title>
</head>
<body>
    <nav>
        <a id="all" href="{{ url_for('all') }}">See all donations</a>
        <a id="new_donation" href="{{ url_for('new_donation') }}">Add a new donation</a>
    </nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
